@model MVC_Taksi.Models.Korisnik

@{
    ViewBag.Title = "Home Page";
}




<div class="stranicalevo">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="stranicadesno">
    <h4>ID: @Model.KorisnickoIme</h4>

    <p>
        Ime :@Model.Ime &nbsp&nbsp @Model.Prezime<br />
        Pol :@Model.Pol<br />
        JMBG :@Model.JMBG<br />
        Telefon :@Model.KontaktTelefon<br />
        Email :@Model.Email<br />
        Uloga :@Model.Uloga<br />
    </p>

</div> 